<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Лабораторная работа №1</p>
    <p>Используя фреймовую структуру создать многостраничный web-сайт 
        для отчетов о выполнении лабораторных работ. </p>
</div>